/* Reset og border-box á allt */
* {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	overflow-wrap: anywhere;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	--spacing: 1rem;
	--max-width: 56rem;

	--navy: #0c1438;
	--navy-light: #222b52;
	--red: #ca0b4a;
	--white: #fff;
}

.falid {
	display: none;
}

.voruspjald:hover {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: var(--white);
}

.site-container {
	display: grid;
	grid-template-areas: 'header'
		'main';
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
}

header {
	background-color: var(--navy);
	grid-area: 'header';
}