header {
    background-color: #000; 
    color: #fff; 
    padding: 20px 0;
    text-align: center;
}

nav a {
    color: #fff; 
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.2em;
}

.logo {
    cursor: pointer;
}

li a {
    cursor: pointer;
}